body, h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

.material-icons {
  color:black;
}

.light-weight {
  font-weight: 100;
}

.brand-logo {
  background-color: #ffee58;
  text-decoration: none;
  color: black;
  font-size: 4rem;
  opacity: 60%;
  text-align: center;
}

/* .navbar-fixed .brand-logo {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color:#ffee58;
  opacity: 60%;
  color: black;
} */


ul li a {
  color:black;
  font-weight:100; 
  text-transform:uppercase;
  display: inline;
}

ul li a:focus {
  color:black;
  font-weight:100;
  background-color: white;
  text-decoration: line-through solid black ; 
}

ul li a:hover {
  background-color: #ffee58; 
  opacity: 60%;
}

.about-me {
  text-align: center;
}

.contact li {
  display: inline;
  padding: 15px;
  font-weight: 100;
}

.subheader {
  text-align: left;
  font-weight: 100;
  margin-top: 40px;
}

.card {
  width: 450px;
  max-height: 100%;
  margin: .5rem 2rem 1rem 0;
}

.card ul li {
  display:inline-flex;
}

.card li {
  list-style-type: square;
  margin-left: 10px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: black;
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  background-color:#ffee58 ;
  opacity: 60%;
  color:black;
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):focus {
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
  text-decoration:line-through 1px solid black
}

.card .card-action {
  margin-top: 0px;
}

.card .card-content {
  padding: 25px;
}

.card img { 
  max-height: 250px;
  width: 100%;
}

.card img:hover {
  opacity: 50%;
}

.card .card-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight:100;
}

.card span {
 padding: 25px;
}

.title-type {
  padding-left: 25px;
}

/* flex */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.container2 {
  display: flex;
}

.row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.column2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.middle {
    margin: 0 55px 0 55px;
}

.collapsible {
    max-width: 500px;
    margin-right: 5px;
}

@media screen and (max-width: 766px) {
  .brand-logo {
     font-size: 50px;
  }
  .hotdog {
      margin: auto;
  }

  .column2 {
      justify-content: center;
  }

}

@media screen and (max-width: 430px) {
  .card {
      width: 350px;
  }

  nav .name {
      font-size: 16px;
  }
}